.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .round {
    margin: 40px;
    border-radius: 10px;
    overflow: hidden; 
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20rem;   
  }
  #footer {
    background-color: #18191c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20rem;         
  }

h1 {
    color: white;
    font-family: "Roboto";
  } 
  p {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  hr {
    width: 95%;
    border: 1px solid #424448;
  }

body {
    margin: 0px;
    background-color: #2c2f33;
}

#wrapper {
    margin: 0 auto;
    overflow: hidden;
    background-color: red;
  }
  .featuredescription {
    background-color: #23272a;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .featuregif {
    margin: 40px;
    border-radius: 10px;
  }


.topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #d6d6d6;
    font-family: "Roboto";
    padding: 14px 6px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
  }
  .topnav a:hover {
    color: white;
  }

button {
    color: white;
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
    background-color: #7289da;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 180px;
  }
  button:hover {
    background-color: #8097e8;
  }
  button:active,
    button:focus { 
        outline: none; 
    }