*:focus {
    background-color: white !important;
}
button:hover {
    transition: background-color 100ms linear;
    background-color: #8ca1ea;
}

a:hover {
    transition: color 100ms linear;
    text-decoration: underline;
}

table {
    white-space: pre-line;
}

hr {
    margin: auto;
    width: 95%;
    border: 1px solid #424448 !important;
}

.navbar a:hover {
    transition: color 100ms linear;
    color: white !important;
    text-decoration: none;
  }
  .navbar a:focus {
    color: white !important;
  }

.tile .is-child {
    background-color: #23272a;
}

.menu {
    background-color: #181d20;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu-list button {
    transition: color 100ms linear;
    color: #b1b5bb;
    width: 240px;
  }

