.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .round {
    margin: 40px;
    border-radius: 10px;
    overflow: hidden; 
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline {
    line-height: 23px;
    display: inline-block;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  }

table, th, td {
  padding: 10px;
  font-size: 20px;
  color: white;
  font-family: "Roboto";
  border: 1px solid white;
  }
  table {
    table-layout: auto;
  }
  td {
    vertical-align: text-top;
  }
  #commands-table {
    text-align: left;
    border-collapse: collapse;
    white-space: pre-line;
    width: 70%;
    margin-bottom: 50px;
  }

aside {
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  aside button {
    width: 290px;
    color: #b5b5b5;
    background-color: #ffffff00;
    transition: color 110ms linear;
  }
  aside button:hover {
    color: white !important;
    background-color: #ffffff00;
  }
  .sidebar {
    background-color: #23272a;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 0px;
  }

footer {
    color: white;
    font-family: "Roboto";
    background-color: #18191c;
    bottom: 0;
    height: 20.5rem;        
  }
  footer a {
    color: #b5b5b5;
    transition: color 200ms linear;
  }
  footer a:hover {
    color: white;
  }
  .footer-category {
    width: 290px;
  }

h1 {
    color: white;
    font-family: "Roboto";
  } 
  p {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
  }
  a {
    text-decoration: none;
    transition: color 200ms linear;
  }
  a:hover {
    color: white !important;
  }
  hr {
    width: 95%;
    border: 1px solid #424448;
  }

body {
    margin: 0px;
    background-color: #2c2f33;
}

#wrapper {
    margin: 0 auto;
    overflow: hidden;
  }
  .featuredescription {
    background-color: #23272a;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .featureattachment {
    margin: 40px;
    border-radius: 10px;
  }


.topnav {
    overflow: hidden;
  }
  #active {
    color:white;
    font-size: 24px; 
    line-height: .8;
  }
  .topnav a {
    float: left;
    color: #b5b5b5;
    font-family: "Roboto";
    padding: 14px 6px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: color 200ms linear;
  }
  .topnav a:hover {
    color: white;
  }

button {
    color: white;
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
    background-color: #7289da;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 180px;
    transition: background-color 100ms linear;
  }
  button:hover {
    background-color: #8097e8;
  }
  button:active,
    button:focus { 
        outline: none; 
    }