#subtitle {
  font-size: 1.25rem;
}

button:hover {
    transition: background-color 100ms linear;
    background-color: #8ca1ea;
}

a:hover {
    transition: color 100ms linear;
    text-decoration: underline;
}

table {
    white-space: pre-line;
}

hr {
    margin: auto;
    border: 1px solid #424448 !important;
}

.navbar a:hover {
    transition: color 100ms linear;
    color: white !important;
    text-decoration: none;
  }
  .navbar a:focus {
    color: white !important;
  }

.tile .is-child {
    background-color: #23272a;
    padding-left: 2rem; 
    padding-right: 2rem; 
}

.menu {
    background-color: #23272a;
    padding-top: 1rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: 1rem;
  }
  .menu-list button {
    transition: color 100ms linear;
    color: #b1b5bb;
    display: block;
    width: 100%;
  }

.card {
  background-color: #36393f !important;
  height: 20rem !important;
}

.slick-dots li button:before {
    font-size: 1rem !important;
    color:white !important;
  }
  .slick-dots li.slick-active button:before {
    color:white !important;
  }

.slick-prev:before {
  content: '❮' !important;
  font-size: 2rem !important;
}

.slick-next:before {
  content: '❯' !important;
  font-size: 2rem !important;
}