$epo-blue: #1884BC;

$body-background: #1E2124;

$primary: $epo-blue;

// Import Bulma's initial variables
@import "node_modules/bulma/sass/utilities/_all.sass";

$footer-background-color: $blue;
$text-strong: $white;