@import "../docs/node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../docs/node_modules/bulma/sass/utilities/functions";

//sass --watch style.scss:css/style.css
//Press Ctrl-C to stop

$transparent: #ffffff00;
$grey: #2c2f33;
$light-grey: #36393f;
$lighter-grey: #b1b5bb;
$dark-grey: #202225;
$darker-grey: #18191c;
$blurple: #8097e8;
$scheme-main: $light-grey;
$scheme-main-bis: $grey;

$text: white; 
$text-light: white;
$text-strong: white;

$primary: $light-grey;
$background: $transparent;

$family-primary: "Roboto";
$family-secondary: "Open Sans";
$subtitle-family: $family-secondary;

$title-size: $size-4;
$title-color: white;
$title-line-height: 1.4;

$subtitle-size: $size-6;

$link: $blurple;
$link-hover: white;
$link-hover-border: $transparent;
$link-active: white;
$link-focus: white;

$navbar-background-color: $grey;
$navbar-dropdown-background-color: $grey;
$navbar-item-color: $lighter-grey;

$button-background-color: $blurple;
$button-border-color: $transparent;

$menu-item-color: $lighter-grey;

$card-content-padding: 1.3rem;

@import "../docs/node_modules/bulma/sass/utilities/derived-variables";

@import "../docs/node_modules/bulma/bulma.sass";
